[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
numpy = "*"
scipy = "*"
keras = "*"
matplotlib = "*"
ipykernel = "*"
pandas = "*"
python-dateutil = "*"
tensorflow = "*"
tensorflow-gpu = "*"
imblearn = "*"

[dev-packages]

[requires]
python_version = "3.6"
